
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NIKE ShoeMart</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/user.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   
    
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge">0</span>
                </a>
                <a href="/home/cart?" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <% if(typeof userData !== 'undefined'){ %>
                        <%if(Array.isArray(userData)){ %>
                            <span class="badge"><%= userData[0].cart.items.length %></span>
                        <%}else{ %>
                            <span class="badge"><%= userData.cart.items.length %></span>
                        <%}
                        
                     }else{
                        %>
                        <span class="badge">0</span>
                        <%
                    } %>
                    
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-8">
            <form action="/editAddress" method="post" class="add-address-form p-3" id="checkOutForm" >
                <input type="hidden" name="addressId" value="<%= shippingAddress[0]._id %>">
                <label for="address"  class="form-label">Name:</label>
                <input type="text" class="form-control name" name="name" value="<%= shippingAddress[0].name %>">
                <br>
                <label for="phoneNumber" class="form-label">Phone Number :</label>
                <input type="text" class="form-control phoneNumber" name="phoneNumber" value="<%= shippingAddress[0].phoneNumber %>">
                <br>
                <label for="" class="form-label">pincode</label>
                <input type="number" class="form-control pinCode" name="pinCode" value="<%= shippingAddress[0].pinCode %>">
                <br>
                <label for="" class="form-label">Locality : </label>
                <input type="text" class="form-control locality" name="locality" value="<%= shippingAddress[0].locality %>">
                <br>
                <label for="" class="form-label">address: </label>
                <input type="text" class="form-control address" name="address" value="<%= shippingAddress[0].address %>">
                <br>
                <label for="district" class="form-label">District : </label>
                <input type="text" class="form-control district" name="district" value="<%= shippingAddress[0].district %>">
                <br>
                <label for="state" class="form-label">State :</label>
                <input type="text" class="form-control state" name="state" value="<%= shippingAddress[0].state %>">
                <br>
                <input type="submit" class="btn btn-dark">
            </form>
        </div>
    </div>

<!-- order End -->




<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/javascript/easing.min.js"></script>
<script src="/javascript/owl.carouser.min.js"></script>
<script>

</script>

